<div class="layout-sidebar" [ngClass]="{'active': active}">
    <a [routerLink]="['/']" class="logo">
        <img alt="logo" [src]="'assets/showcase/images/state-flow-logo-light.png'" />
    </a>
    <div class="layout-menu">
        <div class="menu-category">General</div>
        <div class="menu-items">
            <a [routerLink]=" ['/setup']" routerLinkActive="router-link-exact-active">Get Started</a>
        </div>

        <div class="menu-category">Examples</div>
        <div class="menu-items">
            <a [routerLink]=" ['/example/scxml-structure']" routerLinkActive="router-link-exact-active">SCXML Structure</a>
        </div>

        <div class="menu-category">Utilities</div>
        <div class="menu-items">
            <a [routerLink]=" ['/develop']" routerLinkActive="router-link-exact-active">Develop</a>
        </div>
    </div>
</div>
