<div class="layout-sidebar" [ngClass]="{'active': active}">
    <a [routerLink]="['/']" class="logo">
        <img alt="logo" [src]="'assets/showcase/images/' + (config.dark ? 'state-flow-logo-light.png' : 'state-flow-logo-dark.png')" />
    </a>
    <div class="layout-menu">
        <div class="menu-category">General</div>
        <div class="menu-items">
            <a [routerLink]=" ['/setup']" routerLinkActive="router-link-exact-active">Get Started</a>
        </div>

        <div class="menu-category">Utilities</div>
        <div class="menu-items">

        </div>
    </div>
</div>
