<div class="content-section documentation">
    <h1>Get Started</h1>
    <p>StateFlowNG is set of open source flow navigation Angular UI components.</p>

    <h5>Download</h5>
    <p>StateFlowNG is available at npm, if you have an existing application run the following command to download it to your project.</p>
    <app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
        npm install state-flow --save
    </app-code>

    <h5>Import</h5>
    <p>UI components are configured as modules, once StateFlowNG is downloaded and configured, modules and apis can be imported from <i>primeng/&#123;module&#125;</i> shorthand in your application code. Documentation
        of each component states the import path.</p>
    <app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
        import &#123;StateFlowModule&#125; from 'state-flow/engine';     //accordion and accordion tab
        import &#123;MenuItem&#125; from 'state-flow/api';               //api
    </app-code>

    <p>That is all, you may now import StateFlowNG components, for a working example visit the <a href="https://github.com/primefaces/primeng-quickstart-cli">StateFlowNG CLI QuickStart</a> sample at GitHub.</p>

    <h6>Browser Support</h6>
    <div class="doc-tablewrapper">
        <table class="doc-table browsers">
            <thead>
                <tr>
                    <th>
                        <div class="p-d-flex p-ai-center">
                            <img src="assets/showcase/images/browsers/edge.svg" alt="edge" style="width: 1.5rem;" class="p-mr-2">
                            IE / Edge
                        </div>
                    </th>
                    <th>
                        <div class="p-d-flex p-ai-center">
                            <img src="assets/showcase/images/browsers/firefox.svg" alt="firefox" style="width: 1.5rem;" class="p-mr-2">
                            Firefox
                        </div>
                    </th>
                    <th>
                        <div class="p-d-flex p-ai-center">
                            <img src="assets/showcase/images/browsers/chrome.svg" alt="chrome" style="width: 1.5rem;" class="p-mr-2">
                            Chrome
                        </div>
                    </th>
                    <th>
                        <div class="p-d-flex p-ai-center">
                            <img src="assets/showcase/images/browsers/safari.svg" alt="safari" style="width: 1.5rem;" class="p-mr-2">
                            Safari
                        </div>
                    </th>
                    <th>
                        <div class="p-d-flex p-ai-center">
                            <img src="assets/showcase/images/browsers/opera.svg" alt="opera" style="width: 1.5rem;" class="p-mr-2">
                            Opera
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IE11, Edge</td>
                    <td>Last 2 versions</td>
                    <td>Last 2 versions</td>
                    <td>Last 2 versions</td>
                    <td>Last 2 versions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

